<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="card-body" th:fragment="clients(clients)">
    <div class="toolbar">
    </div>
    <div class="material-datatables">
        <div class="row">
            <div class="col-sm-12">
                <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline w-100" role="grid" aria-describedby="datatables_info" cellspacing="0">
                    <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Lastname: activate to sort column descending">
                            Nom
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Firstname: activate to sort column ascending">
                            Prénom
                        </th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Email: activate to sort column ascending">
                            E-mail
                        </th>
                        <th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 70px;" aria-label="Actions: activate to sort column ascending"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="client, i : ${clients}" th:data-id="${client.id}" role="row" th:style="${i.odd}? 'odd' : 'even'" th:class="${client.id}">
                        <td th:text="${client.lastname}" tabindex="0" class="sorting_1">Nom</td>
                        <td th:text="${client.firstname}">Prénom</td>
                        <td th:text="${client.email}">E-mail</td>

                        <!-- Actions -->
                        <td class="text-right">
                            <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.ClientController&GetClientById).URL}(id=${client.id})}"
                               class="btn btn-link btn-warning btn-just-icon"><i class="material-icons">dvr</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
<!--        <div th:replace="modals/clientModals.html :: deleteClientModal"></div>-->
    </div>
    <script th:inline="javascript">
        $(document).ready(function(){

            // setup datatable with langage translation
            let table = $('#datatables').DataTable({
                language: {
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    info: "Affichage de l 'élément _START_ à _END_ sur _TOTAL_ éléments",
                    infoEmpty: "Affichage de l'élément 0 à 0 sur 0 élément",
                    infoFiltered: "(filtré à partir de _MAX_ éléments au total)",
                    infoPostFix: "",
                    infoThousands: ",",
                    lengthMenu: "Afficher _MENU_ éléments",
                    loadingRecords: "Chargement...",
                    processing: "Traitement...",
                    search: "Rechercher :",
                    zeroRecords: "Aucun élément correspondant trouvé",
                    paginate: {
                        first: "Premier",
                        last: "Dernier",
                        next: "Suivant",
                        previous: "Précédent"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    select: {
                        rows: {
                            _: "%d lignes sélectionnées",
                            0: "Aucune ligne sélectionnée",
                            1: "1 ligne sélectionnée"
                        }
                    }
                }
            });

            /* Setup - add a text input to each footer cell */
            // adds a second header line
            $('#datatables thead').append('<tr></tr>');
            // gets the new header line to populate
            let inputs = $('#datatables thead tr:last-child');
            // for each parameter in the first header line
            $('#datatables thead tr:first-child th').each( function (colIdx) {
                // deselecting first, before last and last
                if (colIdx !== 3) {
                    // appends a column with an input (with responsive width)
                    inputs.append($('<th><input type="text" class="w-100 form-control"/></th>'));
                    // selects the newly created input
                    $(inputs).find('th:nth-child(' + (colIdx + 1) + ') input')
                        // on text entered in input
                        .on('keyup change', function (){
                            // search in the nth column in the table
                            table
                                .column(colIdx)
                                .search(this.value)
                                .draw();
                        });
                }
                else {
                    // adds an empty column at the end
                    inputs.append($('<th></th>'));
                }
            });
        });
    </script>
</div>

