<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="card-body" th:fragment="employees(employees)">
    <div class="toolbar">
    </div>
    <div class="col material-datatables">
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center mb-2 border-bottom border-secondary pb-3 flex-wrap">
            <div>
                <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL}}"
                   class="btn" th:classappend="${param.position == null} ? btn-light : btn-secondary">
                    <i class="material-icons" style="font-size:30px;">clear_all</i> Tous les collaborateurs
                </a>
            </div>
            <div>
                <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL + '?position=GESTIONNAIRE_COMMERCIAL'}}"
                   class="btn" th:classappend="${#httpServletRequest.getParameter('position') == 'GESTIONNAIRE_COMMERCIAL'} ? btn-light : btn-secondary">
                    <i class="material-icons" style="font-size:30px;">person</i> Gestionnaires commerciaux
                </a>
            </div>
            <div>
                <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL + '?position=GESTIONNAIRE_TECHNIQUE'}}"
                   class="btn" th:classappend="${#httpServletRequest.getParameter('position') == 'GESTIONNAIRE_TECHNIQUE'} ? btn-light : btn-secondary">
                    <i class="material-icons" style="font-size:30px;">person</i> Gestionnaires techniques
                </a>
            </div>
            <div>
                <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL + '?position=GESTIONNAIRE_CLIENT'}}"
                   class="btn" th:classappend="${#httpServletRequest.getParameter('position') == 'GESTIONNAIRE_CLIENT'} ? btn-light : btn-secondary">
                    <i class="material-icons" style="font-size:30px;">person</i> Gestionnaires clients
                </a>
            </div>
        </div>
        <div class="col" style="overflow: auto;">
            <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                        Nom
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">
                        Prénom
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Office: activate to sort column ascending">
                        Ville
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Position: activate to sort column ascending">
                        Email
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Office: activate to sort column ascending">
                        Fonction
                    </th>
                    <th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 70px;" aria-label="Actions: activate to sort column ascending"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, i : ${employees}" th:data-id="${employee.id}" role="row" th:style="${i.odd}? 'odd' : 'even'" th:class="${employee.id}">
                    <td th:text="${employee.lastname}" tabindex="0" class="sorting_1">Nom</td>
                    <td th:text="${employee.firstname}">Prénom</td>
                    <td th:text="${employee.city}">Ville</td>
                    <td th:text="${employee.email}">Email</td>
                    <td th:text="${employee.position.label}">Fonction</td>
                    <td class="text-right">
                        <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL + '/' + employee.id}}"
                           class="btn btn-link btn-warning btn-just-icon"><i class="material-icons">dvr</i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="modals/employeeModals.html :: deleteEmployeeModal"></div>
    </div>
    <script th:inline="javascript">
        // loading status values using thymeleaf template
        /*<![CDATA[*/

        const positionValues = [
            /*[# th:each="position : ${T(fr.enssat.vehiclesrental.model.enums.Position).values()}"]
             - [# th:utext="'\\'' + ${position.label} + '\\','" /]
            [/]*/
        ];
        /*]]>*/

        $(document).ready(function(){

            // setup datatable with langage translation
            let table = $('#datatables').DataTable({
                language: {
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    info: "Affichage de l 'élément _START_ à _END_ sur _TOTAL_ éléments",
                    infoEmpty: "Affichage de l'élément 0 à 0 sur 0 élément",
                    infoFiltered: "(filtré à partir de _MAX_ éléments au total)",
                    infoPostFix: "",
                    infoThousands: ",",
                    lengthMenu: "Afficher _MENU_ éléments",
                    loadingRecords: "Chargement...",
                    processing: "Traitement...",
                    search: "Rechercher :",
                    zeroRecords: "Aucun élément correspondant trouvé",
                    paginate: {
                        first: "Premier",
                        last: "Dernier",
                        next: "Suivant",
                        previous: "Précédent"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    },
                    select: {
                        rows: {
                            _: "%d lignes sélectionnées",
                            0: "Aucune ligne sélectionnée",
                            1: "1 ligne sélectionnée"
                        }
                    }
                }
            });

            /* Setup - add a text input to each footer cell */
            // adds a second header line with the first empty column
            $('#datatables thead').append('<tr></tr>');
            // gets the new header line to populate
            let inputs = $('#datatables thead tr:last-child');
            // for each parameter in the first header line
            $('#datatables thead tr:first-child th').each( function (colIdx) {
                // deselecting first, before last and last
                if (![4,5].includes(colIdx)) {
                    // appends a column with an input (with responsive width)
                    inputs.append($('<th><input type="text" class="w-100 form-control"/></th>'));
                    // selects the newly created input
                    $(inputs).find('th:nth-child(' + (colIdx + 1) + ') input')
                        // on text entered in input
                        .on('keyup change', function (){
                            // search in the nth column in the table
                            table
                                .column(colIdx)
                                .search(this.value)
                                .draw();
                        });
                }
                else if(colIdx === 4){
                    let selectOptions = positionValues.reduce(function(out, state){
                        // adds a string with the option element to the previous string
                        return out + '<option>' + state + '</option>';
                    }, '');
                    // creates a select element populate of status options
                    inputs.append($(
                        '<th>' +
                        '<select id="stateSelect" class="w-100 form-control">' +
                        '<option></option>' +
                        selectOptions +
                        '</select>' +
                        '</th>'));
                    // selects the newly created select element
                    $(inputs).find('th:nth-child(' + (colIdx + 1) + ') select')
                        // on text entered in input
                        .on( 'change', function () {
                            // search in the nth column in the table
                            table
                                .column( colIdx )
                                .search( this.value )
                                .draw();
                        });
                }
                else if(colIdx === 5){
                    // adds an empty column at the end
                    inputs.append($('<th></th>'));
                }
            });
        });
    </script>
</div>

