<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="statistics">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div id="top10Clients" class="ct-chart"><!-- Bar chart --></div>
                </div>
                <div class="card-body">
                    <h4 th:text="${top10}" class="card-title">TOP 10</h4>
                    <p th:text="${interval}" class="card-category">Période</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        #top10Clients .ct-label.ct-horizontal {
            text-align: center;
            line-height: 1;
            justify-content: center;
            align-items: center;
        }
    </style>

    <script th:inline="javascript">
        // Initialize a Bar chart in the container with the TOP 10 clients
        new Chartist.Bar('#top10Clients', {
            labels: /*[[${clients.keySet()}]]*/ [],
            series: [
                /*[[${clients.values()}]]*/ []
            ]
        });
    </script>
</div>
