<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="statistics">
    <div class="row">
        <div class="offset-md-3 col-md-2">
            <div class="form-group bmd-form-group">
                <select id="selectType" class="form-control">
                    <option th:each="type : ${T(fr.enssat.vehiclesrental.model.enums.Type).values()}" th:value="${type}" th:text="${type.name}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group bmd-form-group">
                <select id="selectInterval" class="form-control">
                    <option th:each="interval : ${T(fr.enssat.vehiclesrental.model.enums.Interval).values()}" th:value="${interval}" th:text="${interval.name}"></option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <a id="updateCharts" th:href="@{/statistiques?type=MOST_RESERVER_CLIENT&interval=ONE_MONTH}">
                <button type="button" class="btn btn-secondary">Mettre à jour</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header card-header-warning">
                    <div id="top10Clients" class="ct-chart"><!-- Bar chart --></div>
                </div>
                <div class="card-body">
                    <h4 th:text="${top10}" class="card-title">TOP 10</h4>
                    <p th:text="${interval}" class="card-category">Période</p>
                </div>
            </div>
        </div>
    </div>

    <style>
        #top10Clients .ct-label.ct-horizontal {
            text-align: center;
            line-height: 1;
            justify-content: center;
            align-items: center;
        }
    </style>

    <script th:inline="javascript">
        // Initialize a Bar chart in the container with the TOP 10 clients
        new Chartist.Bar('#top10Clients', {
            labels: /*[[${clients.keySet()}]]*/ [],
            series: [
                /*[[${clients.values()}]]*/ []
            ]
        });
    </script>
    <script>
        $(document).ready(function() {
            let type = getUrlParameter('type');
            let interval = getUrlParameter('interval');
            $('#selectType').val(type);
            $('#selectInterval').val(interval);

            $('#selectType').on('change', function() {
                type = this.value;
                $("#updateCharts").attr("href", `/statistiques?type=${type}&interval=${interval}`);
            });
            $('#selectInterval').on('change', function() {
                interval = this.value;
                $("#updateCharts").attr("href", `/statistiques?type=${type}&interval=${interval}`);
            });
        });

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
    </script>
</div>
