<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="card-body" th:fragment="vehicles(vehicles)">
    <div class="toolbar">
    </div>
    <div class="material-datatables">
        <div class="row">
            <div class="col-sm-12">
                <table id="vehicles_datatable" class="table table-striped table-no-bordered table-hover dataTable dtr-inline w-100" role="grid" aria-describedby="datatables_info" cellspacing="0">
                    <thead>
                    <tr role="row">
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 20px;" aria-label="Type: activate to sort column ascending"><!-- Type --></th>
                        <th class="sorting_asc" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Brand: activate to sort column descending">Marque</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Model: activate to sort column ascending">Modèle</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Max speed: activate to sort column ascending">Vitesse max.</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Price by day: activate to sort column ascending">Prix par jour</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="Number of seats: activate to sort column ascending">Nombre de sièges</th>
                        <th class="sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 100px;" aria-label="State: activate to sort column ascending">État</th>
                        <th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 70px;" aria-label="Actions: activate to sort column ascending"></th></tr>
                    </thead>
                    <tbody>
                    <tr th:each="vehicle, i : ${vehicles}" th:data-id="${vehicle.id}" role="row" th:style="${i.odd}? 'odd' : 'even'" th:class="${vehicle.id}">
                        <!-- Type -->
                        <td>
                            <span th:if="${vehicle instanceof T(fr.enssat.vehiclesrental.model.Car)}" ><i class="material-icons">drive_eta</i></span>
                            <span th:if="${vehicle instanceof T(fr.enssat.vehiclesrental.model.Motorbike)}" ><i class="material-icons">two_wheeler</i></span>
                            <span th:if="${vehicle instanceof T(fr.enssat.vehiclesrental.model.Plane)}" ><i class="material-icons">flight</i></span>
                        </td>

                        <!-- Brand -->
                        <td th:text="${vehicle.brand}" tabindex="0" class="sorting_1">Marque</td>

                        <!-- Model -->
                        <td th:text="${vehicle.model}">Modèle</td>

                        <!-- Maximum Speed -->
                        <td th:text="${vehicle.maximumSpeed + ' km/h'}">Vitesse max.</td>

                        <!-- Price By Day -->
                        <td th:text="${vehicle.rentPricePerDay + ' €'}">Prix par jour</td>

                        <!-- Number of seats -->
                        <td th:text="${vehicle.nbSeats}">Nombre de sièges</td>

                        <!-- State -->
                        <td th:text="${vehicle.state.description}">État</td>

                        <!-- Actions -->
                        <td class="text-right">
                             <a th:href="@{/vehicule/edit/} + ${vehicle.id}" class="btn btn-link btn-info btn-just-icon"><i class="material-icons">edit</i></a>
                            <a th:href="@{/vehicule/} + ${vehicle.id}" class="btn btn-link btn-warning btn-just-icon"><i class="material-icons">dvr</i></a>
                            <button class="btn btn-link btn-danger btn-just-icon remove" data-target="#deleteVehicleModal" data-toggle="modal"><i class="material-icons">close</i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div th:replace="modals/vehicleModals.html :: deleteVehicleModal"></div>
    </div>
    <script>
        (function($) {
            let that;
            $(".remove").click(function() {
                that = $(this);
                $(".remove-modal-btn").click(function(){
                    let tr = that.parent().parent()[0];
                    $(tr).fadeOut();
                    $.get("vehicle/delete/" + tr.dataset.id);
                });
            });
        })(jQuery);

        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#vehicles_datatable tfoot th').each( function (colIdx) {
                if (colIdx !== 0) {
                    var title = $('#vehicles_datatable thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                }
            } );

            // DataTable
            var table = $('#vehicles_datatable').DataTable();

            // Apply the search
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', table.column( colIdx ).footer() ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );
        } );
    </script>
</div>

