<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<footer class="footer" th:fragment="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://github.com/jiben22/vehicles-rental">
                        Dépôt GitHub
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/drive/folders/1dhp6gNWYzqRkEiPEUSK1g_nFPjNikNCZ">
                        Conception UML
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, fait avec <i class="material-icons text-primary">favorite</i> par
            <a href="https://drive.google.com/drive/folders/1dhp6gNWYzqRkEiPEUSK1g_nFPjNikNCZ" target="_blank"
               class="text-primary">LocaTeam</a>.
        </div>
    </div>
</footer>