<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: SideBarMenu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: TopMenu"></div>
            <div class="page-main-fragment">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">work</i>
                            </div>
                            <h4 class="card-title">Ajouter un collaborateur</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" th:action="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController$AddEmployee).URL}}" th:object="${employee}" class="form-horizontal">
                                <input type="hidden" th:field="*{id}" />
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Nom</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{lastname}" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Prénom</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{firstname}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{lastname}"> </span>
                                    </div>
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{firstname}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Numéro d'immatriculation</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{serialNumber}" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Téléphone</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{phone}" type="tel" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{serialNumber}"> </span>
                                    </div>
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{phone}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Date de naissance</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{birthdate}" type="text" class="form-control datepicker datepickerCalendar">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Email</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{email}" type="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{birthdate}"> </span>
                                    </div>
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{email}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Adresse</label>
                                    <div class="col-md-4">
                                        <div class="form-group bmd-form-group">
                                            <input th:field="*{street}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-10">
                                        <span class="text-danger" th:errors="*{street}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Code Postal</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{zipcode}" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Ville</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{city}" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <label class="col-md-2 col-form-label">Pays</label>
                                    <div class="col-md-2">
                                        <div class="form-group has-default bmd-form-group">
                                            <input th:field="*{country}" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{zipcode}"> </span>
                                    </div>
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{city}"> </span>
                                    </div>
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{country}"> </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-md-2 col-form-label">Fonction</label>
                                    <div class="col-md-2">
                                        <div class="form-group bmd-form-group">
                                            <select th:field="*{position}" class="form-control">
                                                <option th:each="position : ${T(fr.enssat.vehiclesrental.model.enums.Position).values()}" th:value="${position}" th:text="${position.label}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="offset-md-2 col-md-2">
                                        <span class="text-danger" th:errors="*{position}"> </span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a th:href="@{${T(fr.enssat.vehiclesrental.constants.ControllerConstants.EmployeeController).BASE_URL}}"
                                       class="btn btn-secondary">Annuler
                                    </a>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="fragments/footer.html :: footer"></footer>
        </div>
    </div>
</body>

</html>