/* inputs */

html, body {
    height: 100%;
}

input.form-control {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    height: 2.6rem;
}

/* navigation */
.card-profile i{
    font-size: 6em;
}

#navigation {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

/* page disposition */
.full-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.full-page > * {
    flex: 1 0 auto;
    height: auto;
}

.full-page > :first-child {
    flex: 0 0 auto;
}

.full-page > :last-child {
    flex:0 0 auto;
}

.login-page .container {
    padding-top: unset !important;
}

/* dark edition */
.dark-edition {
    background-color: #111116;
}

h3.alert {
    background-color: #86bbd8;
    color: #606477;
}

.dark-edition #navigation,
.dark-edition .footer,
.dark-edition .sidebar,
.dark-edition .sidebar .sidebar-background::after,
.dark-edition .content .card,
.dark-edition .content .custom-card > div {
    background-color: #222227 !important;
}

.dark-edition .content .material-datatables a.btn.btn-light,
.dark-edition .content .material-datatables #datatables_paginate .active a {
    background-color: #7777CC !important;

}
.dark-edition .sidebar li.nav-item.active a.nav-link *,
.dark-edition .content .material-datatables a.btn.btn-light>i,
.dark-edition .content .material-datatables a.btn.btn-light,
.dark-edition .content .material-datatables #datatables_paginate .active a {
    color:#333338 !important;
    font-weight:600;
}

.dark-edition .content .btn-primary,
.dark-edition .content .material-datatables .btn.btn-secondary {
    background-color:#333338 !important;
}

.dark-edition .sidebar .card,
.dark-edition .content .card-header-icon .card-icon {
    background:linear-gradient(60deg, #333338 10%, #444449 50%);
}

.dark-edition .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #333338 !important;
}
.dark-edition .table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #444449 !important;
}
.dark-edition .content .material-datatables .btn-warning i {
    color: #ff8c00 !important;
}
.dark-edition .content .material-datatables .btn-danger i {
    color: #dd0000 !important;
}


.dark-edition *,
.dark-edition .content .material-datatables .sorting_asc::before,
.dark-edition .content .material-datatables .sorting_desc::after {
    color: #EEEEF3 !important;
}

.dark-edition .content .card-header-primary *,
.dark-edition .content .btn-primary,
.dark-edition .content .material-datatables .btn.btn-secondary,
.dark-edition .content .material-datatables thead th,
.dark-edition .content .material-datatables #datatables_info,
.dark-edition .content .material-datatables #datatables_length label,
.dark-edition .content .material-datatables #datatables_filter label,
.dark-edition .content .material-datatables #datatables_paginate .page-link,
.dark-edition .content .material-datatables .sorting::before,
.dark-edition .content .material-datatables .sorting::after,
.dark-edition .content .material-datatables .sorting_desc::before,
.dark-edition .content .material-datatables .sorting_asc::after
{
    color: #CCCCD1 !important;
}


.dark-edition .sidebar p,
.dark-edition .sidebar i,
.dark-edition #navigation i,
.dark-edition .footer *
{
    color:#AAAAAF !important;
}

.dark-edition a:hover,
.dark-edition .content table tbody tr:hover {
    background-color: #55555A !important;
}

.dark-edition #datatables_length label span,
.dark-edition #datatables_filter label span {
    display: inline-block;
}

/* custom cards */

.custom-card {
    background-size: cover;
    background-position: center;
    box-shadow: 0.4em .6em 2em -1em #00000f;
    height: 200px;
    overflow:hidden;
}

.custom-card h4 {
    padding-top:2px;
    background: linear-gradient(180deg, rgba(0, 0, 15, 0.4) 70%, rgba(0, 0, 15, 0) 100%);
}

.custom-card#card-client {
    background-image: url('https://cdn.pixabay.com/photo/2017/03/27/13/22/action-2178691_960_720.jpg');
}
.custom-card#card-vehicle {
    background-image: url('https://cdn.pixabay.com/photo/2017/09/27/18/47/scooter-2792992_960_720.jpg');
}
.custom-card#card-booking {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/03/20/02/laptop-3196481_960_720.jpg');
}
.custom-card#card-employee {
    background-image: url('https://cdn.pixabay.com/photo/2015/08/20/14/06/businessmen-897426_960_720.jpg');
}
.custom-card#card-statistic {
    background-image: url('https://cdn.pixabay.com/photo/2016/04/20/08/21/entrepreneur-1340649_960_720.jpg');
}

.custom-card>div {
    position: absolute;
    bottom: 0;
}

.custom-card h4 {
    height: 2.5em;
    transition: height .3s ease-in-out;
}

.custom-card:hover h4 {
    height: 85%;
}

.custom-card * {
    transition: .3s all ease-in-out;
}

/* footer */

.footer {
    background: rgba(255, 255, 255, 0.60);
}

.footer .copyright i.text-primary {
    background-image: unset;
}

/* navbar */


.navbar-nav li.nav-item:hover a.nav-link {
    cursor: pointer;
    background-color: #777;
}
.navbar-nav li.nav-item i {
    margin-right: 0 !important;
}




.sorting:before,
.sorting_asc:before,
.sorting_desc:before {
    z-index: 1;
}

