<!DOCTYPE HTML>
<html lang="fr"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/head.html :: head"></div>

<body>
<div class="wrapper">
    <div th:replace="fragments/menus.html :: SideBarMenu"></div>
    <div class="main-panel d-flex flex-column">
        <div th:replace="fragments/menus.html :: TopMenu"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon"><i class="material-icons">people</i></div>
                            <h4 class="card-title">Liste des clients</h4>
                        </div>
                        <div class="container">
                            <div class="offset-md-11"><a href="${/client/add}" class="btn btn-primary"><i
                                    class="material-icons">person_add</i></a></div>
                        </div>
                        <div th:replace="components/clients.html :: clients(clients=${clients})"></div>
                    </div>
                </div>
            </div>

        </div>
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </div>
    <script>
        // TODO add Datatable management script (see at clients.html)
    </script>
</div>
</body>

</html>