<!DOCTYPE HTML>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"></head>

<body class="">
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: menu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: logoutMenu"></div>
            <div class="row">
            </div>
            <footer th:replace="fragments/footer.html :: footer "></footer>
        </div>
    </div>
</body>

</html>