<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head.html :: head"></head>

<body>
    <div class="wrapper ">
        <div th:replace="fragments/menus.html :: SideBarMenu"></div>
        <div class="main-panel">
            <div th:replace="fragments/menus.html :: TopMenu"></div>
            <div class="page-main-fragment">
                <div class="container-fluid">
                    <div sec:authorize="hasAnyAuthority(
                        T(fr.enssat.vehiclesrental.model.enums.Position).RESPONSABLE_LOCATION.label,
                        T(fr.enssat.vehiclesrental.model.enums.Position).GESTIONNAIRE_COMMERCIAL.label)"
                         th:replace="components/statistics.html :: statistics"></div>
                </div>
                <footer th:replace="fragments/footer.html :: footer "></footer>
            </div>
        </div>
    </div>
</body>

</html>